/* Container for spacing */
.auth-container {
    margin-left: 25px;    /* space between navbar and button */
    display: flex;
    align-items: center;
}

.auth-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 16px;
    background: linear-gradient(135deg, #ff7f7f, #ff4c4c);
    color: #fff;
    text-decoration: none;
    border-radius: 14px;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(150, 80, 255, 0.35);
    transition: 0.3s ease;
}

.auth-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(255, 92, 92, 0.45); /* soft red shadow */
}




/* Icon size */
.auth-btn i {
    font-size: 15px;
}


